body {
  font-family: 'Alegreya Sans', sans-serif;
  /* background: linear-gradient(90deg, #edf5e1, #04386c); */
  background: #eaf1fa;
}

h1 {
  color: #1b8b00;
  margin: 0.5em;
}

a {
  text-decoration: none;
  color: #002801;
}

label {
  display: block;
}

span {
  color: #1b8b00;
}

p1 {
  text-decoration: underline;
  font-weight: bold;
}

/* Navbar Styles */
nav {
  font-family: 'Gill Sans', sans-serif;
  background-color: #002801;
  margin: 0.2em;
}

nav a {
  display: inline-flex;
  margin: 1em;
  color: #f4fce9;
  justify-content: flex-end;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Cart Styles */
.cart-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
  padding: 0.25em;
}

.cart-list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 10px;
  width: 100px;
}

.item-quantity {
  height: 35px;
  max-width: 82px;
}

.cart-action-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

input.item-quantity {
  text-align: center;
  width: 50%;
}

.cart-item {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-item-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.cart-item-detail {
  padding: 1em;
  text-align: left;
}

.quantity-wrapper {
  display: flex;
  position: relative;
  margin-left: 1em;
}

.quantity-btn {
  height: 42px;
  max-width: 82px;
  background-color: #9ee4ae;
  padding: 13px;
}

.cart-order-summary {
  /* justify-content: flex-end; */
  border: 1px solid #ccc;
  padding: 0.5em;
}

.cart-checkout-btn {
  /* flex-grow: 1; */
  height: 42px;
  max-width: 82px;
  background-color: #9ee4ae;
  padding: 13px;
}

/* Checkout Styles */
.checkout-page {
  display: flex;
  flex-direction: row;
}

.checkout-payment-info {
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
}
.checkout-list {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}
.checkout-summary {
  width: 300px;
}

/* Product Card Styles */
.faceted-grid {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}
.product-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-card-inner {
  flex-direction: column;
  margin: 1em;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 20%;
}

.product-card-grid-left {
  margin: 2em;
  width: 400px;
  flex-shrink: 1;
}

.product-card-grid-left > img {
  width: 100%;
}
.product-card-grid-right {
  margin: 2em;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 400px;
}
.product-card-grid-right > div {
  margin: 1rem;
  display: flex;
}

.product-card-image {
  width: 200px;
}

.product-card-name {
  margin-top: auto;
  color: rgb(77, 77, 77);
  font: bold;
  margin: 0.25em;
}

.product-card-price {
  color: gray;
  align-content: flex-start;
}

/* Single Product Views */

#single-product-name {
  font-size: 20px;
}
#single-product-description {
  width: 100%;
}
#single-product-submit-button {
  height: 30px;
  max-width: 80px;
  background-color: white;
  padding: 4px;
}

.login-submit-btn a {
  margin: 1em;
}
#order-wrapper {
  display: flex;
  justify-content: space-around;
}
.completed-order {
  width: 200px;
}
