body {
  font-family: sans-serif;
  background: linear-gradient(90deg, #edf5e1, #04386c);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* Navbar Styles */
nav {
  background-color: #edf5e1;
  font-family: 'Gill Sans', sans-serif;
}

nav a {
  display: inline-block;
  margin: 1em;
  /* background-color: #9334ae; */
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Cart Styles */
.cart-product-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.quantity-btn {
  display: flex;
}

/* Product Card Styles Placeholders */
.faceted-grid {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.product-card-grid-all {
  display: flex;
  flex-direction: row;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card-image {
  width: 100%;
}

.product-card-name {
  color: gray;
}

.product-card-price {
  color: black;
}
